<div>
    <br><br>
    <div class="row">
        <div class="col-md-6">
            <a href="#!/locais" class="btn btn-outline-info btn-block btn-lg">Locais</a>
            <a href="#!/salas" class="btn btn-outline-info btn-block btn-lg">Salas</a>
        </div>
        <div class="col-md-6">
            <a href="#!/usuarios" class="btn btn-outline-info btn-block btn-lg">Usuários</a>
            <a href="#!/reservas" class="btn btn-outline-info btn-block btn-lg">Reservas</a>
        </div>
    </div>
</div>